*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Press Start 2P', cursive;
}

.campo{
   background-color: blue;
   margin: 5px 85px;
   width: 100%;
   height: 620px;
   max-width: 1200px; 
   align-items: center;
   grid-column-gap: 10px;
}

 .grid{
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 1100px;   
 }

 .card{
    aspect-ratio: 3/4;
    height: 200px;
    width: 100%;
    background-color: grey;
    border-radius: 5px;
    position: relative;
    transition: all 800ms ease;
    transform-style: preserve-3d;
    
 }

 .face{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 5px solid rgb(75, 66, 20);
    border-radius: 4px;
 }

 .front{
    transform: rotateY(180deg);
 }

 .front img{
   width: 100%;
   height: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
   border-radius: 4px;
    }

 .back{
    background-image: url('../img/back.png');
    backface-visibility: hidden;
 }

 .card:hover{
    transform: rotateY(180deg);
 }

 .grid_superior{
    margin: 20px 15px;
    display: grid;
    grid-template-columns: 180px 1300px;
    gap: 15px;
 }

 .grid_central{
   margin: 6px;
   display: grid;
   grid-template-columns: repeat(3, 2fr);
   gap: 10px;
}

.grid_inferior{
   margin: 25px 15px;
   display: grid;
   grid-template-columns: 180px 1200px;
   gap: 15px;
}

.campo_central{
   text-align: center;
   height: 150px;
   width: 350px;
   background-color: brown;
}

.mao{
   background-color: brown;
   height: 200px;
   margin-top: 5px;
   padding-left: 10%;
   position: relative;
 }

.mao h1{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -90%) 
}


 /*.campo2{
    display: grid;
    grid-template-columns: 180px 1200px;
    gap: 10px;
    position: absolute;
    bottom: 0;
    margin: 8px;
 }

 .mao2{
    background-color: brown;
    height: 220px;
    padding-left: 10%;
    position: relative;
    word-break: break-all;
    margin-bottom: 10px;
 }

 .mao2 h1{
    position: absolute;
    top: 50%;
    transform: translate(10%, -60%) 
 }

 .teste{
   width: 802px;
   height: 280px;
   margin-top: 10px;
   margin-bottom: 10px;
   background-color: rgb(42, 50, 165);
   margin-left: 395px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }*/