{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/batalha.css' %}">
    
    <title>Batalha de Elementos</title>
</head>
<body> 
    <div class="campo">

    <div class="grid_superior">
    <div class="mao">
         <h1> mão</h1>    
    </div>   
    <div class="grid">
        {% for carta in baralho %}
        <a href="{% url 'teste' carta.id %}">
        <div class="card">
            <div class="face front">
                <img src="{{carta.front.url}}" alt="">
            </div>
            <div class="face back"></div>
        </div>
        </a>
        {% endfor %}
    </div>
    </div>

    <div class="grid_central">
        <div class="campo_central">
            <h1> tempo</h1>    
        </div>  
        <div class="campo_central">
            <h1> tempo</h1>    
        </div> 
        <div class="campo_central">
            <h1> tempo</h1>    
        </div>
    </div>

    <div class="grid_inferior">
        <div class="mao">
            <h1> mão</h1>    
        </div>   
        <div class="grid">
            {% for carta in baralho %}
            <a href="{% url 'teste' carta.id %}">
            <div class="card">
                <div class="face front">
                    <img src="{{carta.front.url}}" alt="">
                </div>
                <div class="face back"></div>
            </div>
            </a>
            {% endfor %}
        </div>
        </div>

    </div>
   
</body>
</html>

<!--
     <div class="mao"> <h1> Máquina</h1> </div>
-->


<!--
    </div>
    <div class="teste">
        <h1>
            ola
        </h1>
    
    </div>

-->

<!--
        <div class="campo2"> 

    <div class="mao2"> <h1>{{nome}}</h1> </div>


    {% for carta in baralho %}
    <a href="/">
    <div class="grid2">
        <div class="card">
            <div class="face front"></div>
            <div class="face back"></div>
        </div>
    </div>
    </a>
    {%endfor%}
-->