{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/batalha.css' %}">
    
    <title>Batalha de Elementos</title>
</head>
<body> 
    <div class="campo">

    <div class="mao"> <h1> Máquina</h1> </div>

    <a href="/">
    <div class="grid">
        <div class="card_maquina">
            <div class="face front"></div>
            <div class="face back"></div>
        </div>
        <div class="card_maquina">
            <div class="face front"></div>
            <div class="face back"></div>
        </div>

        <div class="card_maquina">
            <div class="face front"></div>
            <div class="face back"></div>
        </div>
        <div class="card_maquina">
            <div class="face front"></div>
            <div class="face back"></div>
        </div>
        <div class="card_maquina">
            <div class="face front"></div>
            <div class="face back"></div>
        </div>
        <div class="card_maquina">
            <div class="face front"></div>
            <div class="face back"></div>
        </div>
        

    </div>
    </a>

    </div>
    <div class="teste">
        <h1>
            ola
        </h1>
    
    </div>

    <div class="campo2"> 

    <div class="mao2"> <h1>{{nome}}</h1> </div>

    <a href="/">
    <div class="grid2">
        <div class="card">
            <div class="face front"></div>
            <div class="face back"></div>
        </div>
        <div class="card">
            <div class="face front"></div>
            <div class="face back"></div>
        </div>
        <div class="card">
            <div class="face front"></div>
            <div class="face back"></div>
        </div>
        <div class="card">
            <div class="face front"></div>
            <div class="face back"></div>
        </div>
        <div class="card">
            <div class="face front"></div>
            <div class="face back"></div>
        </div>
        <div class="card">
            <div class="face front"></div>
            <div class="face back"></div>
        </div>


    </div>
    </a>

     </div>

</body>
</html>
